
<h1>Edit Post</h1>

<%= form_with model: @post, url: post_path(@post), method: 'patch' do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title, value: @post.title %>

  <%= form.label :body %>
  <%= form.text_area :body, value: @post.body %>

  <%= form.label :description %>
  <%= form.text_field :description, value: @post.description %>

  <%= form.submit 'Update' %>
<% end %>
